body {
  /* from http://www.horihavalabo.jp/cssgen/ */
  -webkit-background-size: 10px 10px;
  -moz-background-size: 10px 10px;
  background-size: 10px 10px;
  background-color: #9bf;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, #9ef), color-stop(.5, transparent), to(transparent));
  background-image: -moz-linear-gradient(#9ef 50%, transparent 50%, transparent);
  background-image: -o-linear-gradient(#9ef 50%, transparent 50%, transparent);
  background-image: linear-gradient(#9ef 50%, transparent 50%, transparent);

  min-width: 320px;

  font-size: 1rem;
}

img.img_width_full {
  width: 30rem;
  height: auto;
}

strong {
    color: red;
    font-weight: bold;
}

p {
  line-height: 1.5;
}

p + p {
  margin-top: 0.5rem;
}


.global-header {
  padding: 1rem 1rem;

  background: #999;
}

/* ページタイトル */
[data-heading-level="1"] {
  font-size: 2rem;
}

/* article見出し */
[data-heading-level="2"] {
  padding: 0.5rem 1rem;

  line-height: 1.5;
  font-size: 1.5rem;

  border-top: 0.4rem solid #000;
  border-bottom: 0.4rem solid #000;
  background-color: #666;
  color: #fff;
}

/* セクション見出し */
[data-heading-level="3"] {
  margin-top: 2rem;
  padding: 0.5rem 0.5rem;

  border-left: 0.8rem solid #666;
  border-bottom: 0.1rem solid #666;

  font-size: 1.5rem;
}

[data-heading-level="3"] + p {
  margin-top: 1rem;
}

/* サブセクション見出し */
[class^="subsection--"] > .heading {
  box-sizing: border-box;
  height: 2rem;
  line-height: 1.8rem;
  padding: 0 0.5rem;

  border-top: 0.1rem solid #666;
  border-bottom: 0.1rem solid #666;
  border-left: 2rem solid #666;

  font-size: 1.2rem;
}

[class^="subsection--"] > .heading + p {
  margin-top: 1rem;
}

[class^="subsection--"] {
  margin: 2rem 0;
}

[class^="subsection--"]::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 2rem;

  margin-top: 1rem;

  border-top: 0.1rem solid #666;
  border-bottom: 0.1rem solid #666;
  border-right: 2rem solid #666;
}



.main {
  padding: 0 1rem;

  background: #fff;
}

.article {
  padding: 2rem 0;
}

.source--css > .heading {
  display: inline-block;
  margin: 1rem 0 0;
  padding: 0.25rem 0.5rem;

  background: #666;
  color: #fff;
}

.global-footer {
  padding: 1rem 1rem;

  background: #999;
}