body {
  /* from http://www.horihavalabo.jp/cssgen/ */
  -webkit-background-size: 10px 10px;
  -moz-background-size: 10px 10px;
  background-size: 10px 10px;
  background-color: #9bf;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, #9ef), color-stop(.5, transparent), to(transparent));
  background-image: -moz-linear-gradient(#9ef 50%, transparent 50%, transparent);
  background-image: -o-linear-gradient(#9ef 50%, transparent 50%, transparent);
  background-image: linear-gradient(#9ef 50%, transparent 50%, transparent);

  min-width: 320px;

  font-size: 1rem;
}

img.img_width_full {
  width: 30rem;
  height: auto;
}


.global-header {
  padding: 0 1rem;

  background: #999;
}

.global-header .title {
  font-size: 2rem;
}

[data-heading-level="3"] {
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem;

  border-left: 0.8rem solid #666;
  border-bottom: 1px solid #666;
}

[data-heading-level="3"] + p {
  margin-top: 0.5rem;
}

.main {
  padding: 0 1rem;

  background: #fff;
}

.article {
  padding: 20px 0;
}

.article .heading {
  font-size: 1.5rem;
}


.global-footer {
  padding: 0 1rem;

  background: #999;
}